[Unit]
Description=IPA OpenDNSSEC Signer replacement
Wants=ipa-ods-exporter.socket
After=ipa-ods-exporter.socket

[Service]
EnvironmentFile=/etc/sysconfig/ipa-ods-exporter
ExecStart=/usr/share/ipa/ipadnssecd/ipa-ods-exporter.py
User=ods
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
