[Unit]
Description=IPA key daemon

[Service]
EnvironmentFile=/etc/sysconfig/ipa-dnskeysyncd
ExecStart=/usr/share/ipa/ipadnssecd/ipa-dnskeysyncd.py
User=ods
Group=named
SupplementaryGroups=ods
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
