[Unit]
Description=IPA OpenDNSSEC Signer replacement
Wants=ipa-ods-exporter.socket
After=ipa-ods-exporter.socket

[Service]
ExecStart=/usr/share/ipa/ipadnssecd/signer-replacement/signerd.py
User=ods

[Install]
WantedBy=multi-user.target
